body {
  color: white;
}
h1 {
  position: center;
  left: 50%;
}
.container {
  position: relative;
}
/* For the form */
#form {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  color: purple;
}